// media card attributes
.language {
    width: 5%;
    img {
      width: 100%;
    }
  }

.card {
    width: calc(100% / 4);
    padding: 0 1rem;

    .content {
        background-color: var(--secondary-color);
        img {
            width: 100%;
        }
    }
}

