// media card attributes
.card {
    width: calc(100% / 4);
    padding: 0 1rem;
    margin-bottom: 2rem;

    .content {
        background-color: var(--secondary-color);
        color: black;
        position: relative;
        &:hover .overview {
            transform: translateY(0);
        }
        .main_title {
            color: white;
        }
        h2 {
            font-size: 1rem;
            text-align: center;
            padding: .5rem 1rem;
        }
        h3 {
            width: 100%;
        }
        .stars_rating {
            color: gold;
        }
        img {
            width: 100%;
        }
        .language {
            img {
                width: 10%;
            }
          }
        .overview {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 1rem;
            background-color: white;
            max-height: 100%;
            transform: translateY(150%);
            transition: transform .3s ease-in;
            overflow: scroll;
            h3 {
                text-align: center;
                margin-top: 1rem;
                margin-bottom: .5rem;
                border-bottom: 2px solid gold;
            }
        }
    }
}

