// filter section attributes
#genres {
    .genre {
        margin: 1rem 1rem;
        background-color: var(--aqua-marine);
        color: white;
        padding: .8rem;
        font-size: .6rem;
        border-radius: 2rem;
        min-width: 80px;
        text-align: center;
    }
}